*{
    margin: 20;
    padding: 20;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #315af2;
    color: #fff;
}
.tracker{
    font-size: 14px;
    border-collapse: collapse;
    width: 600px;
}
.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
    color: #fff;
    background: #009577;
}