*{
    margin: 20;
    padding: 20;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container {
    display: flex;
    justify-content: space-around;
}

.home{
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 60vh;
    border-radius: 10px;
}

.header{
    background: #009577;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.homecontainer{
    padding: 40px;
}
.home img{
    display: block;
    margin: 2px;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 60vh;
    border-radius: 10px;
    border: 3px solid #000000;
}
.button_menu{
    width: 300px;
    height: 50vh;
    justify-content: center;
    background: #009577;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    color: #333;
}
.graphbutton{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.popup2 img{
    width: 400px; /* Set the desired width */
    height: 250px; /* Set the desired height */
    margin: 0 auto;
}
.achievementsbutton{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.popup1 {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 800px;
    height: 400px;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border: 2px solid #000000;
}
.popup2 {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 800px;
    height: 400px;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border: 2px solid #000000;
}
.popupclose{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.bar-graph-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.bar-graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
}

.bar {
    width: 50px;
    background-color: #007acc;
    margin-right: 10px;
    text-align: center;
}

.bar-label {
    margin-top: 5px;
    font-size: 12px;
}

body{
    background: #ffffff;
    color: #ffffff;
}

.fitnesstracker{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    background: #009577;
    padding: 40px;
    border-radius: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.tracker{
    font-size: 14px;
    border-collapse: collapse;
    width: 600px;

}
.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
    color: #fff;
    background: #e3362c;
}

.tracker th,
.tracker td {
    padding: 0.75em;
}

.tracker__entries .tracker__row {
    background: #eeeeee;
}

.tracker__entries .tracker__row:nth-child(odd) {
    background: #dddddd;
}

.tracker__date,
.tracker__workout,
.tracker__duration {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    height: 2.5em;
    padding: 0.5em 0;
    outline: none;
}

.tracker__duration {
    width: 5em;
    text-align: right;
}

.tracker__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.tracker__button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tracker__row--add {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background: #ffffff;
}

.tracker__row--add td {
    text-align: right;
}

.tracker__add {
    display: inline-block;
    padding: 0.8em 1em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: #e3362c;
    border-radius: 10px;
}

.tracker__add:hover {
    background: rgba(40, 47, 192, 0.1);
}

/* Profile Card */
.card{
    width: 300px;
    height: 50vh;
    justify-content: center;
    background: #009577;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    color: #333;
}
.profilecardname{
    background: #009577;
}
.card img{
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}
label{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
input{
    display: none;
}